.container-fluid {
  padding: 0;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.site-title {
  text-align: center;
  background-color: #ba4c4c;
  color: white;
}

.site-title h1 {
  padding-top: 40px;
  padding-bottom: 40px;
}

nav {
  margin-top: -8px;
  background-color: #fbd5d5;
  color: black;
}

.nav-item.active a{
    font-weight: bold;
}

.nav-link2 {
  color: rgba(0,0,0,.5);
  margin-right: 20px;
}

.nav-link2:hover {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 20px;
      padding-left: 20px;
  }
}

.page {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f7f0f0;
  overflow: auto;
  padding: 30px;
}

h1.concert-title {
  font-weight: 400;
  text-align: center;
  margin: 20px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.selection {
  padding: 50px;
  font-size: 30px;
}

.price {
  text-align: right;
  margin-bottom: 30px;
}

.contact input{
  width: 80%;
}

.code {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  max-width: 400px;
  margin: 0 auto;
}

a.button {
  padding: 10px;
  margin: 20px;
  background-color: #fbd5d5;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
  color: black;
  font-size: 20px;
  transition: .4s all;
}

a.button:hover {
  background-color: #f7f0f0;
}

.concerts {
  margin-top: 40px;
  margin-bottom: 40px;
}

.concert {
  background-color: #f7f0f0;
  margin: 20px auto;
  max-width: 230px;
  text-align: center;
  padding: 20px 10px;
}

.concert img{
    max-height: 136px;
    max-width: 139px;
}

.concert h4 {
  margin-bottom: 20px;
}

.concert a {
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fbd5d5;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 120px;
  color: black;
  font-size: 20px;
  transition: .4s all;
}

.concert a:hover {
  background-color: #f7f0f0;
}

footer {
  background-color: #ba4c4c;
  color: white;
  overflow: auto;
}

.info-left {
  float: left;
  margin: 20px 40px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}


.info-right {
  float: right;
  margin: 10px 40px;
}

.info-right img{
    margin: 5px;
    object-fit: cover;
    max-width: 100%;
    max-height: 50px;
}